<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    {% block stylesheets %}{% endblock %}
</head>

<body>

{% block body %}
    {% block navigation %}{% endblock %}

    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block javascripts %}{% endblock %}
{% endblock %}
</body>

</html>
