{% extends '::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                 <div class="user-preview">
                         <h2 class="user-preview">
                             {{ user.id }} | {{ user.username }}
                         </h2>
                 <div>
            </div>
        </div>
    </div>

{% endblock %}
